{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"-->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<title>Django App</title>
</head>

<body>
	<header>
		<h1>Hello Hackathon!</h1>
	</header>

	<div class="container">
		{% block content %} {% endblock %}
		<br>

		<a href="/admin">Admin Login</a>
	</div>
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Restaurants</h1>
		</div>
	</div>


	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="admin/" <button class="btn btn-default" id="new-restaurant">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Restaurant
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for i in restaurants %}
     
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 restaurant-list">
			<h3><a href="{% url 'menu' id=i.id %}">{{i.name}}</a></h3>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endfor %}


</body>

</html>